<p id="notice"><%= notice %></p>
<h1>LunchBunch: Expanding your Social Palate, One Bite at a Time</h1>

<h3>What do you bring to the table?</h3>
<p>LunchBunch was designed with one thing in mind: bringing social networking back to the table.</p>

<p>Our goal is to revitalize the community, connection, and conversation that happen over everything from coffee to carnitas.</p>

<h3>Dining #nofilters</h3>
<p>Remember when it was more meaningful to sit down and talk about your dining experience instead of just posting a picture of it on social media? We do. We miss that!</p>

<p>LunchBunch aims to utilize the power of social networking to create a fusion between the old and the new - creating an easy way to safely communicate with other diners in your area looking to share a bite to eat.</p>

<h3>Lettuce Be Friends</h3>
<p>Use LunchBunch to make new connections, try new foods, and revitalize the bonds that form during our most sacred tradition: meal time.</p>

<p>LunchBunch allows you to comfortably create your own preferences for your social experience:</p>

<h3>Who uses LunchBunch?</h3>
<p>If you have an appetite for good old-fashioned social connection and good food? LB was designed with you in mind. Yeah, you! </p>

<p>Whether you are a business guru looking to network, a single ready to mingle without the preamble and pressure of a dating site, or just someone who doesn’t want to eat alone while all your friends are busy on your afternoon off, LB has created the perfect way for you to connect at meal time.</p>

<h3>Why dine with LunchBunch?</h3>
<ul>To support local businesses</ul>
<ul>To meet new people in a safe, public setting</ul>
<ul>To try new food</ul>
<ul>To create community</ul>
<ul>To preserve the art of communication</ul>

<h3>How does it work?</h3>
<ul>Create a detailed profile that specifies your tastes and preferences.</ul>
<ul>Select your preferred style of dining.</ul>
<ul>Select the size of your dining party</ul>
<ul>Choose what time you want your bunch to munch</ul>
