<p id="notice"><%= notice %></p>
<h1>LunchBunch: Expanding your Social Palate, One Bite at a Time</h1>

<h3>What do you bring to the table?</h3>
<p> LunchBunch was designed with one thing in mind: bringing social networking back to the table.</p>

<p>Our goal is to revitalize the community, connection, and conversation that happen over everything from coffee to carnitas.</p>
